doctype 5
html(lang="en")
   head
      title Twitter Scanner
      script(type="text/javascript", src="jquery.js")
      script(type="text/javascript", src="socket.io/socket.io.js")
      link(rel="stylesheet", href="main.css")

      script(type="text/javascript")
         var socket = io.connect('/');
         $(document).ready(function () {
            socket.on('data', function (data) {
               var term = data.term;
               data = data.data;
               var regex = new RegExp( '(' + term + ')', 'gi' );
               data.text = data.text.replace( regex, "<strong>$1</strong>" );
               $('<li class="tweet"><div><img src="' + data.user.profile_image_url+ '"/><h2>' + data.user.name+' - @' + data.user.screen_name+ '</h2><p>' + data.text + '</p></div><div class="clear"/></li>').hide().prependTo('.tweets').fadeIn();
            })
         });
   body
      ul.tweets
   