html, * {
   margin: 0;
   padding: 0;
}
body {
   background-color: black;
   font-size: 1.1em;
   padding: 20px;
}
ul {
   list-style-type: none;
}
.tweet {
   color: white;
   text-shadow: #333 1px 1px 4px;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
   border: 1px solid black;
   background-image: -webkit-linear-gradient(top, #FF5A00 0%, #FFAE00 100%);  
   background-image: -moz-linear-gradient(top, #FF5A00 0%, #FFAE00 100%);  
   background-image: -ms-linear-gradient(top, #FF5A00 0%, #FFAE00 100%);  
   background-image: -o-linear-gradient(top, #FF5A00 0%, #FFAE00 100%);  
   background-image: linear-gradient(top, #FF5A00 0%, #FFAE00 100%);
}
strong {
   color: #FFFF0A;
   text-decoration: underline;
}
.tweet img {
   float: left;
   width:48px;
   height: 48px;
   margin-right: 10px;
   border-radius: 4px;

}
.clear {
   clear: both;
}